data/images
data/interim
data/label-studio-data
data/mongo-data
data/processed
data/raw
data/videos
src/.env
.env
src/pig-sorting-streamlit/.streamlit/secrets.toml
*packages
models
visionpipe
*__pycache__
docs
